.table {
    font-size: 16px;
}

#sajt_table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
}

#sajt_table td,
#sajt_table th {
    padding: 8px;
    border: 1px solid #000000;
    text-align: left;
}

#sajt_table th {
    background-color: #f2f2f2;
}

#sajt_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sajt_table tr:hover {
    background-color: #ddd;
}

#osszetevok {
    white-space: nowrap;
    /* Az összetevők egymás mellé írása */
}